*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --main-color: #d3ad7f;
    --bg:#010103;
    --black:#13131a;
    --border:.1rem solid rgba(255,255,255,.3);

}
body{
    background: var(--bg);
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}
.header img{
    height: 5rem;
    border-radius: 15%;
}
.header nav{
    font-size: 2rem;
    
}
.header nav a{
    padding: 0px 1.5rem;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.header nav a:hover{
    color: var(--main-color);
    transition: 0.3s all ease;
}
.header .icons{
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
.header .icons i{
    padding: 0px 1rem;
}
.header .icons i:hover{
    color: var(--main-color);
}
#menu-btn{
    display: none;
}
/* .header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;

}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    padding: 1.3rem;
    color: var(--black);
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form label{
    position:absolute;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 7rem;
    color:var(--black);
}
.header .arch-form label:hover{
    color: var(--main-color);
} */

/* } */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(https://images.unsplash.com/photo-1617076678363-99dd6eb5150b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvZmZlfGVufDB8fDB8YmxhY2t8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 60rem;
    padding-left: 10rem;

}
.home .content h3{
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
   

}
.home .content p{
    font-size: 1.6rem;
    margin:2.5rem 0px;
    color:var(--main-color)

   

}
.btn{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-decoration: none;
    border: 1px solid transparent;
    color: white;
    background: var(--main-color);
    padding: 1rem;
    border-radius: 5px;
  
}
.btn:hover{
    color:var(--main-color);
    background: white;
}
.about h1{
    font-size: 4rem;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0px;

}
.about h1 span{
    color: #fff;
}
.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;

}
.about .row .image{
    flex: 1 1 45rem;

}
.about .row .image img{
    width: 100%;


}
.about .row .content{
    flex: 1 1 45rem;
    padding: 3rem;

}
.about .row .content h3{
    font-size: 3rem;
    color: var(--main-color);
}
.about .row .content p{
    font-size: 1.7rem;
    color: #ccc;
    padding: 1rem 0px;
    line-height: 2.3rem;
}
.menu h1{
    font-size: 4rem;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0px;

}
.menu h1 span{
    color: #fff;
}
.menu .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr)) ;
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);

}
.menu .box-container .box img{
    height: 10rem;
}
.menu .box-container .box h3{
    color:var(--main-color);
    font-size: 2rem;
    padding: 1rem 0px;

}
.menu .box-container .box p{
    color:var(--main-color);
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
.menu .box-container .box:hover{
    background: #ccc;

}
    


@media(max-width:1024px){
    .header{
        padding: 1.3rem 1rem;
    }
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header img{
        height: 3rem;
    }
    .header .icons{
        font-size: 1.4rem;
    }
    .header .icons i{
        padding: 0px .6rem;
    }
    .header .navbar{
        position: absolute;
        top: 100%; 
        right: -100%;
        background: white;
        width: 200px;
        height: calc(100vh - 9.5rem);
        /* background: 30rem; */


    }
    .header .navbar a{
        display: block;
        padding: .5rem;
        margin:0.4rem  1rem;
        font-size: 1.7rem;
        color: var(--black);
    }
    .header .navbar.active{
        right: 0;
    }
    .home {
        background-position: left;
        justify-content: center;
        
    }
    .home .content{
        text-align: center;
        max-width: 600px;
        padding: 0px;


    }
    .home .content h3{
        font-size: 3rem;
    }
    .home .content p{
        font-size: 1.3rem;
    }
    .btn{
        padding: .5rem;
        font-size: 1.3rem;
    }
    .about h1{
        font-size: 2.7rem;
        
    }
    .about .row .content h3{
        font-size: 2rem;
        color: var(--main-color);
    }
    .about .row .content p{
        font-size: 1.2rem;
        color: #ccc;
        padding: 1rem 0px;
    }
    .menu h1{
        font-size: 2.7rem;
    
    }  
}
@media(max-width:450px){
    #menu-btn{
        display: inline-block;
    }
    .header img{
        height: 3rem;
    }
    .header .icons{
        font-size: 1.2rem;
    }
    .header .icons i{
        padding: 0px .4rem;
    }
    .header .navbar{
        position: absolute;
        top: 100%; 
        right: -100%;
        background: white;
        width: 200px;
        height: calc(100vh - 9.5rem);
        /* background: 30rem; */


    }
    .header .navbar a{
        display: block;
        padding: .5rem;
        margin:0.4rem  1rem;
        font-size: 1.7rem;
        color: var(--black);
    }
    .header .navbar.active{
        right: 0;
    }
    .home {
        background-position: left;
        justify-content: center;
        background-size: cover;
        
    }
    .home .content{
        text-align: center;
        margin: 0px;
        padding: 0px;;


    }
    .home .content h3{
        font-size: 2rem;
    }
    .home .content p{
        font-size: 1rem;
    }
    .btn{
        padding: .8rem;
        font-size: 1rem;
    }
    .menu h1{
        text-align: center;
        font-size: 2rem;
    }
    .menu .box-container .box img{
        height: 150px;
    }
    .menu .box-container .box h3{
        font-size: 1.2rem;
    }
    .menu .box-container .box{
    padding: 25px;
        text-align: center;
        border: var(--border);
    
    }
    .menu .box-container .box p{
        font-size: 1.2rem;
    }

}
